.footer {
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.footer a {
  margin: 0 0.5rem;
  color: var(--accent-color);
  font-weight: 500;
}

.footer a:hover {
  color: white;
}
